body {
    margin: 0;
    color: white;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #282727;
    display: flex;
    justify-content: center;
    align-items: center;

}

.esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.esquerda > h1{
    color: aquamarine;
}

.direita{
    width: 50vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;

}

.inflogin{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30ppx 35px;
    background: blueviolet;
    border-radius: 20px;
    box-shadow: 0PX 10PX 40PX;

}

.inflogin > h1 {
    color: aquamarine;
    font-weight: 800;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: purple;
    color: aliceblue;
    font-size: 12pt;
    box-shadow: 10px;
}